body {
	background-color: #f1f3f8;
	font-size: 16px;
  	color: #fff;
  	font-family: 'Oxygen', sans-serif;
}



#header-nav {
  background-color: #145374;
  border-radius: 0;
  border: 0;
  padding-bottom: 20px;
}



.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #1a1c20;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-top: 10px;
}

#nav-list {
	text-align: center;
	color: white;
}

#nav-list a {
	color: white;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

  }

  #nav-list a:hover {
  background: #E7E7E7;
}

#collapsable-nav {
	font-size: 1.2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h1 {
	color: #1a1c20;
}

.jumbotron {
	background-color: #a3d2ca;
	padding-right: 20px;
}

.jumbotron p {
	font-size: 15px;
	text-align: left;
	color: #393b44
}

.jumbotron h2 {
	color: #1a1c20
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-top: 0px;
}
/*********************Large Devices***********************/
@media (min-width: 1200px) {
	#nav-list {
		display: none;
	}
	
}

/*********************Medium Devices***********************/
@media (min-width: 992px) and (max-width: 1199px) {
	#nav-list {
		display: none;
	}
	
}
/*********************Small Devices***********************/
@media (min-width: 768px) and (max-width: 991px) {
	#nav-list {
		display: none;
	}
	
}